.splash-container {
    /*margin-top: 40px;*/
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.splash-text {
    margin-top: 20px;
	align-self: center;
	color: white;
	font-size: 6vh;
}

.piano-logo {
	height: 480px;
	margin-bottom: 40px;
}