.song-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: rgba(217, 217, 217, 0.3);
	height:540px;
	width: 400px;
	border-radius: 16px;
	border: 5px solid white;
	margin: 20px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
	cursor: pointer;
	transition: background-color 0.2s ease;
	display: flex;
	justify-content: center;
}

.selected{	
	border: 5px solid black;
}

.song-select{
	display: flex;
	flex-direction: row;
	align-items: center;

	/*display: grid;*/ 
	/*padding-top: 1560px;*/
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* Three equal columns */
    /*grid-gap: 10px; /* Gap between grid items */
}
.song-select-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
  	align-items: center;
	margin-top: 160px;
}

.song-screen{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;

}

.song-header{
	margin-top: 5%;
	font-size: 3em;
	color: white;
	font-weight: bolder;
}

.song-image{
	width: 240px;
	border-radius: 8px;
}

.song-metadata-title{
	font-size: 44px;
}

.artist{
	font-size: 24px;
}
.year-genre{
	font-size: 16px;
	margin-bottom: 12px;
}



/* Styles for cards with position 2 and 4 */
.song-card.position-2 h3,
.song-card.position-4 h3 {
  	font-size: 1.5em; /* Adjust the font size as needed */
  	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 150px; /* Adjust width as needed */
}

.song-card.position-2 h4,
.song-card.position-4 h4 {
	font-size: 12px; /* Adjust the font size as needed */
	margin-bottom: 8px;
}

.song-card.position-2 img,
.song-card.position-4 img {
	width: 240px;
}


.position-2,
.position-4 {
  width: 240px;
  height: 240px;
  margin-left: 40px;
  margin-right: 40px;
}

.song-card.position-1,
.song-card.position-2,
.song-card.position-4,
.song-card.position-5 {
  background-color: rgba(0, 0, 0, 0);
  border: 0px
}

.position-1,
.position-5 {
	width: 160px;
	height: 160px;
	margin-left: 12px;
	margin-right: 12px;
}

.position-1{
	margin-left: 36px;
	margin-right: 8px;
}
.position-5{
	margin-left: 8px;
	margin-right: 36px;
}

.song-card.position-1 img,
.song-card.position-5 img {
	width: 160px;
	height: 160px;
	border-radius: 10px;
}

.arrow{
	color: white;
	font-size: 3em;
	padding: 16px;
}

.star{
	color: white;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 1.8em;
}
.star-half{
	color: rgba(255, 255, 255, .3);
	padding-left: 2px;
	padding-right: 2px;
	font-size: 1.8em;
}

.difficulty{
	padding-top: 12px;
	padding-bottom: 12px;
}