.menu-button{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: rgba(217, 217, 217, 0.2);
	height: 20%;
	width: 60%;
	border-radius: 2px;
	border: 10px solid white;
	margin: 20px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
	transition: background-color 0.2s ease;
}

.menu-button:hover{
	background-color: rgba(255, 255, 255, 0.3);
}

.menu-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
}

